.imgProductos{
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}

.card{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBoton{
    color:white;
    background-color: #85bb65;
}


.cardc div{
    display: block;
}

.cardc{
    display: block;
  width: 100%;
  padding: 15px;
  border: none;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.imgCarrito{
    position: relative;
    width: 50px;
    height: 75px;
    object-fit: contain;
    margin-top: 1rem;
}

p, h5{
    text-align: center;
}